aiofiles==22.1.0
aiosqlite==0.18.0
asttokens==2.0.8
async-generator==1.10
asyncua==1.0.1
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
cffi==1.15.1
colorama==0.4.4
cryptography==39.0.0
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
executing==1.1.0
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.6
mistune==0.8.4
nest-asyncio==1.5.1
opcua-client==0.8.4
opcua-widgets==0.6.1
packaging==20.9
paho-mqtt==1.6.1
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.17
psutil==5.9.2
pure-eval==0.2.2
pycparser==2.21
Pygments==2.8.1
pyparsing==2.4.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2022.7.1
pywin32==300
pyzmq==22.0.3
revpimodio2==2.5.10
six==1.15.0
sortedcontainers==2.4.0
stack-data==0.5.1
testpath==0.5.0
tornado==6.1
traitlets==5.4.0
wcwidth==0.2.5
webencodings==0.5.1
